body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    margin: 0;
}

.logo-img {
    padding: 20px;
    text-decoration: none; /* Rimuove il sottolineato */
    transition: filter 0.3s ease; /* Aggiungi una transizione per un cambiamento di filtro fluido */
    width: 100px; /* Imposta una dimensione appropriata per le icone */
    height: 100px;
}

.logo-img:hover {
    filter: invert(100%)  ;/*cambia quando gli passo il cursore sopra  */
}

.header-admin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:left;
    padding: 20px 0;
    background-color: #019FDC;
    color: #fff;
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: left; /* Per allineare il testo a sinistra */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="checkbox"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #019FDC;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: darkblue;
}