body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.product-img {
    width: 100%;
}

.product-details {
    flex: 1;
    margin-right: 20px;
}

.product-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-quantity input[type="number"] {
    width: 50px;
    margin-right: 10px;
}

.product-quantity button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline;
}

.product-quantity .update-button {
    padding: 5px 10px;
    background-color: #019FDC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.product-quantity .update-button:hover {
    background-color: darkblue;
}

.product-quantity .remove-button:hover {
    background-color: darkred;
}

.product-price {
    font-weight: bold;
}

.total {
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
}

.checkout {
    margin-top: 40px; /* Aumentato il margine superiore per spostare il pulsante più in basso */
    text-align: center;
}

.checkout button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout button:hover {
    background-color: darkred;
}
