.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #019FDC;
    color: #fff;
    position: relative; /* Per permettere il posizionamento assoluto */
}

.logo-img {
    padding: 20px;
    text-decoration: none; /* Rimuove il sottolineato */
    transition: filter 0.3s ease; /* Aggiungi una transizione per un cambiamento di filtro fluido */
    width: 100px; /* Imposta una dimensione appropriata per le icone */
    height: 100px;
}

.logo-img:hover {
    filter: invert(100%);
}

.search-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; /* Imposta una larghezza specifica per la barra di ricerca */
    margin-right: 20px; /* Spazio tra la barra di ricerca e i bottoni */
}

.search-bar {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    flex: 1;
}

.search-button {
    padding: 10px 20px;
    background-color: darkblue;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: darkred;
}

.icon-access,
.icon-cart {
    padding: 20px;
    text-decoration: none; /* Rimuove il sottolineato */
    transition: filter 0.3s ease; /* Aggiungi una transizione per un cambiamento di filtro fluido */
}

.icon-img {
    width: 24px; /* Imposta una dimensione appropriata per le icone */
    height: 24px;
    transition: filter 0.3s ease; /* Aggiungi una transizione per un cambiamento di filtro fluido */
}

.icon-img:hover {
    filter: invert(100%);
}


.nav-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
    padding: 10px 0;
    background-color: #019FDC;
    border-radius: 5px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.nav-items a:hover {
    color: red;
}