body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #fff;
    color: #333;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #019FDC;
}

/* Aggiungiamo questa nuova classe per la pagina di registrazione */
.register-box {
    background-color: #fff;
    padding: 10px; /* Riduciamo il padding interno */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    max-height: 540px; /* Impostiamo un'altezza massima */
    text-align: center;
}

.register-box h2 {
    margin-bottom: 10px; /* Riduciamo il margine inferiore */
    color: #019FDC;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-button {
    padding: 10px 20px;
    background-color: #019FDC;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 5px;
}

.login-button:hover {
    background-color: darkblue;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Responsive CSS */
@media (max-width: 1024px) {
    .login-container {
    }

    .login-box,
    .register-box {
        width: 100%; /* Occupa tutta la larghezza disponibile */
        max-width: 350px; /* Larghezza massima */
    }

    .input-group {
        margin-bottom: 10px; /* Ridotto il margine tra i gruppi di input */
    }

    .login-button {
        width: 100%; /* Occupa tutta la larghezza disponibile */
    }
}
