body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #fff;
    color: #333;
}


.intro,
.featured-products {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    flex: 1 1 calc(25% - 40px);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

h2{
    text-align: center;
}

#initial-price {
    text-decoration: line-through;
}

.product:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-img {
    width: 100%;
    height: auto;
    max-height: 250px; /* Altezza massima desiderata */
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.intro {
    text-align: center;
}

.category-image {
    text-align: center;
}

.add-to-cart-button {
    padding: 10px 20px;
    background-color: #019FDC;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: darkblue;
}

.error-container {
    text-align: center;
}

.error-container a {
    text-decoration: none;
}

.product a {
    text-decoration: none;
}

/* Responsive CSS */
@media (max-width: 1200px) {
    .product {
        flex: 1 1 calc(33.333% - 40px);
    }
}

@media (max-width: 992px) {
    .product {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .product {
        flex: 1 1 100%;
    }

    .category-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 90%;
        margin-bottom: 20px;
    }

    .category-img {
        width: 100%;
        height: auto;
    }

    .add-to-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quantity-input {
        margin-bottom: 10px;
    }
}
